h1{background: skyblue;
text-align: center;}
p{border: 1px solid black;
    width: 800px;
    height: 500px;
    font-size: large;
    line-height: 100px;
    background: pink;
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    
}